/* static/styles.css */
body {
    font-family: 'Inter', sans-serif;
    color: #333;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.9) rgba(0, 0, 255, 0.1);
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: rgba(0, 0, 255, 0.1);
    backdrop-filter: blur(10px);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 255, 0.1);
}

.navbar {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #333;
}

.button {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    text-decoration: none;
}

.button:hover {
    background: linear-gradient(to right, #00f2fe, #4facfe);
}
/* static/styles.css */
/* Custom scrollbar for Webkit browsers (Chrome, Safari) */
.scrollbar-thin::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Roundness of the scrollbar thumb */
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
  }
  
  /* Custom scrollbar for Firefox */
  .scrollbar-thin {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #888 #f1f1f1; /* Thumb and track color */
  }